Modbus_Process_controllerV5_5/configurator for node-red.json
[
    {
        "id": "86c27da5ce179059",
        "type": "tab",
        "label": "process controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b3f1e3ce3dbfd34",
        "type": "group",
        "z": "86c27da5ce179059",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0f3dc07c6957cc14",
            "f4a8e3a7c4f15c55",
            "bf2954eece845223",
            "71134dfd61480e72",
            "60e69312f726a168",
            "5c90c4f0a90bfcf1",
            "1c6a611e42dec1e0",
            "0ba596b73970ef79",
            "6ce0d9a2e9151021",
            "759d08be6dbca794",
            "1778b5513911facb",
            "5f5bcd4423fa824f",
            "02825e7097d4d99f",
            "50895c4ccfb82a90",
            "a1ba216252dcc349",
            "ae6843ed7d450331",
            "33b7f18038996a38",
            "0ea991d928ad465b",
            "e8900ebf9816a366",
            "a0f994b8db025145",
            "4163ef8dcdf744d2",
            "9f341a4c4a6648ee",
            "e40bd76321fb6560",
            "9104f100cd88a2de",
            "afa13dbf4f095c39",
            "27d25546999ded58",
            "045b7f75d2258057",
            "5c7d5993bace8dc2",
            "7c07c1f4d6757c49",
            "c4a2c2c6fdea1c4a",
            "a9f9757f9ff27a7f",
            "a97b3a702efaeae9",
            "6adf025c9a1e41bb",
            "918abdf260b765c2",
            "1c0c2a4451f0b96c",
            "6cedbb37edbb1ced",
            "3e1c81a6562805eb",
            "9caea871a746cb54",
            "9c69754f83667f12",
            "6247d7ebf1b274a2",
            "f11ca4cc4dbcefee",
            "f6f4765646f0d596",
            "0c6735d947000eb8",
            "f82200c09a16838e",
            "adcd456d51e7302c",
            "0f0c2269d44745b5",
            "790940adb385fa5d",
            "a57edf5bc3c56946",
            "a631ddb39cb11602",
            "765154393c1062d8",
            "cfe513db27858691",
            "4409d4f81b807378",
            "58e8eddb212b3bf4",
            "31c1d4816cb99fd7",
            "da2a426fe7b81636",
            "e0b1f00cecba114d"
        ],
        "x": 34,
        "y": 39,
        "w": 632,
        "h": 1162
    },
    {
        "id": "8aef661213df8ca4",
        "type": "group",
        "z": "86c27da5ce179059",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5b9d4b5b57cd3934",
            "6acd60f8c6df8d86",
            "bef9ad1f6435d2ef",
            "7e62555a3b961ea9",
            "a0c03a3137b03a11",
            "c33f39568b672d56",
            "8cc19e57d874456b",
            "fd3d517455dcb0b4",
            "6188a5d24643d602",
            "c9e29654b065ec54",
            "3f404200fa36ab0a",
            "fd1f465be2131ee7",
            "8a3e088bc1128fad",
            "97aab1fc9d46a97f",
            "2f517d33731de9fe",
            "417b8893d4c05781",
            "7370c15e110ca3d6",
            "680c31a984c2b1f4",
            "d4a2ce3018e542d9",
            "be4ec9c2f724d01f",
            "28a0d0750cf04d3c",
            "faf5bbd0e036901d",
            "db16406771bf7d42",
            "f88a08c0e5a2e72a",
            "b95b261712835a78",
            "329fd41ed39becd9"
        ],
        "x": 754,
        "y": 39,
        "w": 472,
        "h": 862
    },
    {
        "id": "3cc4c6e59d10ef32",
        "type": "group",
        "z": "86c27da5ce179059",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "86b3beb302fe46ba",
            "4266415b8ecd5ab5",
            "0e6fb58cf0e4e110",
            "bb5ba04911035973",
            "f67af857dae0b53d",
            "aeb57928f8b95d7f",
            "0c9b65c807a4d134",
            "bacab3e3e518f054",
            "19f065e539edef60",
            "ee4262631db3c705",
            "cebc6e86886650dd",
            "34be0b2d21194154",
            "416a87648015f185",
            "a051d40be3380dba",
            "85c99c9e878dd5a7",
            "c6b4ca30df64730f",
            "21939ed6cb785c29",
            "21446197592a892e",
            "8a9a29de7ed317f0",
            "64dc9739cf4234ba",
            "2db195f38183af16",
            "33b2e304bf267396",
            "608c4bcf581f3d35",
            "2d12bebeceb27d7c",
            "b23f1a082bae5bd8",
            "0bbf798b315bb828",
            "9c80f2584daeafc7",
            "4b8822639ea630ed",
            "693186be404fb9aa",
            "1e847de007867738",
            "b7dbe6f2827b9786",
            "20efa4e764ba797c",
            "0ce2a5bd80d19f7c",
            "610e28ec8bda88b2",
            "d5ee5613dd2d7e90",
            "993f10aa634326db",
            "c3c155351e81c107",
            "88f95f6445520de1",
            "65e6cda9dbde74b6",
            "1c68becf2d589751",
            "0d03b688474a92a0",
            "780d4dc2956dbb67",
            "7636f02a87e92791",
            "1cd7a8d569c765f0",
            "b8ac413adca05e4f",
            "f5a759014f64382f",
            "55703ae88bc0aaf1",
            "ab5d4e2da6e0aa5c",
            "018a58d20afe4d5f",
            "424525c52037847f",
            "bd63ccb3ba4f4641",
            "6fce501dc904ed52",
            "0cc7efdbf8d5cbe5",
            "94f49b735779f797",
            "74e42f057497c358",
            "4d57b5f293d393d8",
            "9488062daf8a251a",
            "92077789964361e0",
            "c5efe26541726f91",
            "d039def16a71ecdd",
            "58376d814b6aee69",
            "cf02023f808c2c40",
            "93097ba5343b7f18",
            "ba900a4b5b6dedbd",
            "ef6b6b98f710c9fe",
            "b431ae43dc5f74a4",
            "0b1db0e50718dc37",
            "5e66e326a95c34c2",
            "fbd98f1204c14861",
            "ad0cdc9bc4c12623",
            "a4d264de7c5b8e87",
            "6d0138d27ac6f89a",
            "76227e4f21df72bd",
            "776c0bd8807161bb",
            "d1dab5afbb7dcf72",
            "ce65bac11de27968",
            "c994e9bebec3e5e5",
            "3e8dee3f24ba354d",
            "a1b8e4458e4c6a83",
            "56989e2978b14bfe",
            "d83317357178d86c",
            "d9eeba0b8de529c2",
            "1afab922f67e5e33",
            "3041c281a6f1ac61",
            "76a8e7f2d8931f09",
            "139f972c125a7911",
            "6a79ee8df7e01a40",
            "4adaa16523171823",
            "b267e7c8a9a8b054",
            "2419662d14207a70",
            "2a0f935e0879f17c",
            "8b5f6f8528f43acc",
            "3c2a56f1d4548b31",
            "e77f8ad25ec0cb47",
            "b6e91b4dbd3351e8",
            "359793d50ad70ecc",
            "f107dcccbd9a35df",
            "7b25a924085c46a3",
            "8d3b81a1a459c6e4",
            "f5fe90ed31e8596d",
            "9568e50d0f151553",
            "8f44e9344f7d2cfb",
            "abf8f9f2ee2a5128",
            "6c1d08553787e04d",
            "08d947c8257f931c",
            "1802c4c18ef3274e",
            "e36283ec103b70f6",
            "f2148e0fb1269b18",
            "bce3a810aa684484",
            "95ac35b36e9c3281",
            "b76baaa13e06761e",
            "ecef00e12059d672",
            "4f6230c4e0e3b511",
            "b5161b2b057bf1a3",
            "0352c845f0fcb861",
            "2ee0e8d26baea640",
            "ed9d572a24b64ae4",
            "53d9bef7eea7e101",
            "1878c15d9c917adc",
            "13c7463232f7f53a",
            "a35ca4ee81379545",
            "bcf6c0b155a713bb",
            "975ca3110d8af245",
            "a901f8ff450deb3e",
            "e73914cd5abc2281",
            "4f10e48b39b531ed",
            "2707ea6d26cf354a",
            "59e19c9ef8c29bb0",
            "541c409beee08a5f",
            "62f938dde1d0eaf9",
            "54e5fbb270465f74",
            "569daf2b148d4efd",
            "08e3b0d04ae6826a",
            "81c8633193a5b18a",
            "742637c03013e739",
            "2703a5f96214aad8",
            "e47b5dd764a407c6",
            "81f3f4836b90992b"
        ],
        "x": 34,
        "y": 1299,
        "w": 1012,
        "h": 1882
    },
    {
        "id": "68fccdafd397e6d5",
        "type": "modbus-client",
        "name": "FLOWMETER",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.43.104",
        "tcpPort": "502",
        "tcpType": "TCP-RTU-BUFFERED",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "2a8e42731b66768d",
        "type": "ui_group",
        "name": "G1",
        "tab": "58de86c95e765aae",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f86b46f4fcb284da",
        "type": "ui_group",
        "name": "G2",
        "tab": "58de86c95e765aae",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "46b9f7901c65c98a",
        "type": "ui_group",
        "name": "G3",
        "tab": "58de86c95e765aae",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4cfbcb300419c342",
        "type": "ui_group",
        "name": "G0",
        "tab": "58de86c95e765aae",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58de86c95e765aae",
        "type": "ui_tab",
        "name": "Process Control Configurator tool",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "84e9e72ee15b1f11",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5b9d4b5b57cd3934",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "RELAY",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "1",
        "quantity": "1",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 850,
        "y": 140,
        "wires": [
            [
                "8cc19e57d874456b"
            ],
            []
        ]
    },
    {
        "id": "0f3dc07c6957cc14",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "2",
        "rate": "9",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "f4a8e3a7c4f15c55",
                "4163ef8dcdf744d2"
            ],
            []
        ]
    },
    {
        "id": "f4a8e3a7c4f15c55",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 57",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "bf2954eece845223",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "2",
        "quantity": "1",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "71134dfd61480e72",
                "e40bd76321fb6560"
            ],
            []
        ]
    },
    {
        "id": "71134dfd61480e72",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 58",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "60e69312f726a168",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "3",
        "quantity": "1",
        "rate": "3",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "5c90c4f0a90bfcf1",
                "9104f100cd88a2de"
            ],
            []
        ]
    },
    {
        "id": "5c90c4f0a90bfcf1",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 59",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 280,
        "wires": []
    },
    {
        "id": "1c6a611e42dec1e0",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "4",
        "quantity": "1",
        "rate": "8",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "0ba596b73970ef79",
                "afa13dbf4f095c39"
            ],
            []
        ]
    },
    {
        "id": "0ba596b73970ef79",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 60",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 360,
        "wires": []
    },
    {
        "id": "6ce0d9a2e9151021",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "5",
        "quantity": "1",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "759d08be6dbca794",
                "27d25546999ded58"
            ],
            []
        ]
    },
    {
        "id": "759d08be6dbca794",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 61",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 440,
        "wires": []
    },
    {
        "id": "1778b5513911facb",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "6",
        "quantity": "1",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "5f5bcd4423fa824f",
                "045b7f75d2258057"
            ],
            []
        ]
    },
    {
        "id": "5f5bcd4423fa824f",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 62",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 520,
        "wires": []
    },
    {
        "id": "02825e7097d4d99f",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "7",
        "quantity": "1",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "50895c4ccfb82a90",
                "5c7d5993bace8dc2"
            ],
            []
        ]
    },
    {
        "id": "50895c4ccfb82a90",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 63",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 600,
        "wires": []
    },
    {
        "id": "a1ba216252dcc349",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "8",
        "quantity": "1",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 640,
        "wires": [
            [
                "ae6843ed7d450331",
                "7c07c1f4d6757c49"
            ],
            []
        ]
    },
    {
        "id": "ae6843ed7d450331",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 64",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 680,
        "wires": []
    },
    {
        "id": "33b7f18038996a38",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "9",
        "quantity": "1",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 720,
        "wires": [
            [
                "0ea991d928ad465b",
                "c4a2c2c6fdea1c4a"
            ],
            []
        ]
    },
    {
        "id": "0ea991d928ad465b",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 65",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 760,
        "wires": []
    },
    {
        "id": "e8900ebf9816a366",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "10",
        "quantity": "1",
        "rate": "6",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 800,
        "wires": [
            [
                "a0f994b8db025145",
                "a9f9757f9ff27a7f"
            ],
            []
        ]
    },
    {
        "id": "a0f994b8db025145",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 66",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 840,
        "wires": []
    },
    {
        "id": "6acd60f8c6df8d86",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "HORN",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "0",
        "quantity": "1",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 850,
        "y": 80,
        "wires": [
            [
                "680c31a984c2b1f4"
            ],
            []
        ]
    },
    {
        "id": "4163ef8dcdf744d2",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = (msg.payload[0] * 65536) + msg.payload[1]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "9f341a4c4a6648ee"
            ]
        ]
    },
    {
        "id": "9f341a4c4a6648ee",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Lifetime Units",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "e40bd76321fb6560",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "a97b3a702efaeae9"
            ]
        ]
    },
    {
        "id": "9104f100cd88a2de",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "6adf025c9a1e41bb"
            ]
        ]
    },
    {
        "id": "afa13dbf4f095c39",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "918abdf260b765c2"
            ]
        ]
    },
    {
        "id": "27d25546999ded58",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 400,
        "wires": [
            [
                "1c0c2a4451f0b96c"
            ]
        ]
    },
    {
        "id": "045b7f75d2258057",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 480,
        "wires": [
            [
                "6cedbb37edbb1ced"
            ]
        ]
    },
    {
        "id": "5c7d5993bace8dc2",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "3e1c81a6562805eb"
            ]
        ]
    },
    {
        "id": "7c07c1f4d6757c49",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 640,
        "wires": [
            [
                "9caea871a746cb54"
            ]
        ]
    },
    {
        "id": "c4a2c2c6fdea1c4a",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 720,
        "wires": [
            [
                "9c69754f83667f12"
            ]
        ]
    },
    {
        "id": "a9f9757f9ff27a7f",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 800,
        "wires": [
            [
                "6247d7ebf1b274a2"
            ]
        ]
    },
    {
        "id": "a97b3a702efaeae9",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "This Flow",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "6adf025c9a1e41bb",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "This Flow Duration",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "918abdf260b765c2",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Largest Flow",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "1c0c2a4451f0b96c",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Longest Flow Duration",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "6cedbb37edbb1ced",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flow Rate",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "3e1c81a6562805eb",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Output Pulses ToDo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "9caea871a746cb54",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Pulses",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 640,
        "wires": []
    },
    {
        "id": "9c69754f83667f12",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Analog Sense",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "6247d7ebf1b274a2",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Units Queued",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 800,
        "wires": []
    },
    {
        "id": "86b3beb302fe46ba",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "9",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1340,
        "wires": [
            [
                "4266415b8ecd5ab5",
                "0e6fb58cf0e4e110"
            ],
            []
        ]
    },
    {
        "id": "4266415b8ecd5ab5",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 68",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1380,
        "wires": []
    },
    {
        "id": "0e6fb58cf0e4e110",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1340,
        "wires": [
            [
                "bb5ba04911035973"
            ]
        ]
    },
    {
        "id": "bb5ba04911035973",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 1340,
        "wires": []
    },
    {
        "id": "f67af857dae0b53d",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1420,
        "wires": [
            [
                "aeb57928f8b95d7f",
                "0c9b65c807a4d134"
            ],
            []
        ]
    },
    {
        "id": "aeb57928f8b95d7f",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 69",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0c9b65c807a4d134",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1420,
        "wires": [
            [
                "bacab3e3e518f054"
            ]
        ]
    },
    {
        "id": "bacab3e3e518f054",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pin_mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 1420,
        "wires": []
    },
    {
        "id": "19f065e539edef60",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "11",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1500,
        "wires": [
            [
                "ee4262631db3c705",
                "cebc6e86886650dd"
            ],
            []
        ]
    },
    {
        "id": "ee4262631db3c705",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 70",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1540,
        "wires": []
    },
    {
        "id": "cebc6e86886650dd",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1500,
        "wires": [
            [
                "34be0b2d21194154"
            ]
        ]
    },
    {
        "id": "34be0b2d21194154",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensor_pulses_per_unit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 1500,
        "wires": []
    },
    {
        "id": "416a87648015f185",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "12",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1580,
        "wires": [
            [
                "a051d40be3380dba",
                "85c99c9e878dd5a7"
            ],
            []
        ]
    },
    {
        "id": "a051d40be3380dba",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 71",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1620,
        "wires": []
    },
    {
        "id": "85c99c9e878dd5a7",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1580,
        "wires": [
            [
                "c6b4ca30df64730f"
            ]
        ]
    },
    {
        "id": "c6b4ca30df64730f",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "save_interval",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 1580,
        "wires": []
    },
    {
        "id": "21939ed6cb785c29",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "14",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1740,
        "wires": [
            [
                "21446197592a892e",
                "8a9a29de7ed317f0"
            ],
            []
        ]
    },
    {
        "id": "21446197592a892e",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 72",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1780,
        "wires": []
    },
    {
        "id": "8a9a29de7ed317f0",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1740,
        "wires": [
            [
                "2d12bebeceb27d7c"
            ]
        ]
    },
    {
        "id": "64dc9739cf4234ba",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "horn_units",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 1660,
        "wires": []
    },
    {
        "id": "2db195f38183af16",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1820,
        "wires": [
            [
                "33b2e304bf267396",
                "608c4bcf581f3d35"
            ],
            []
        ]
    },
    {
        "id": "33b2e304bf267396",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 73",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1860,
        "wires": []
    },
    {
        "id": "608c4bcf581f3d35",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1820,
        "wires": [
            [
                "4b8822639ea630ed"
            ]
        ]
    },
    {
        "id": "2d12bebeceb27d7c",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "relay_units",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 1740,
        "wires": []
    },
    {
        "id": "b23f1a082bae5bd8",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "16",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1900,
        "wires": [
            [
                "0bbf798b315bb828",
                "9c80f2584daeafc7"
            ],
            []
        ]
    },
    {
        "id": "0bbf798b315bb828",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 74",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1940,
        "wires": []
    },
    {
        "id": "9c80f2584daeafc7",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1900,
        "wires": [
            [
                "20efa4e764ba797c"
            ]
        ]
    },
    {
        "id": "4b8822639ea630ed",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "horn_seconds",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 1820,
        "wires": []
    },
    {
        "id": "693186be404fb9aa",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "17",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1980,
        "wires": [
            [
                "1e847de007867738",
                "b7dbe6f2827b9786"
            ],
            []
        ]
    },
    {
        "id": "1e847de007867738",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 75",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2020,
        "wires": []
    },
    {
        "id": "b7dbe6f2827b9786",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1980,
        "wires": [
            [
                "993f10aa634326db"
            ]
        ]
    },
    {
        "id": "20efa4e764ba797c",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "relay_seconds",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 1900,
        "wires": []
    },
    {
        "id": "0ce2a5bd80d19f7c",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2060,
        "wires": [
            [
                "610e28ec8bda88b2",
                "d5ee5613dd2d7e90"
            ],
            []
        ]
    },
    {
        "id": "610e28ec8bda88b2",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 76",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2100,
        "wires": []
    },
    {
        "id": "d5ee5613dd2d7e90",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2060,
        "wires": [
            [
                "1c68becf2d589751"
            ]
        ]
    },
    {
        "id": "993f10aa634326db",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "flow_stop_seconds",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 1980,
        "wires": []
    },
    {
        "id": "c3c155351e81c107",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "19",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2140,
        "wires": [
            [
                "88f95f6445520de1",
                "65e6cda9dbde74b6"
            ],
            []
        ]
    },
    {
        "id": "88f95f6445520de1",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 77",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2180,
        "wires": []
    },
    {
        "id": "65e6cda9dbde74b6",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2140,
        "wires": [
            [
                "1cd7a8d569c765f0"
            ]
        ]
    },
    {
        "id": "1c68becf2d589751",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "relay_latchmode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 2060,
        "wires": []
    },
    {
        "id": "0d03b688474a92a0",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2220,
        "wires": [
            [
                "780d4dc2956dbb67",
                "7636f02a87e92791"
            ],
            []
        ]
    },
    {
        "id": "780d4dc2956dbb67",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 78",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2260,
        "wires": []
    },
    {
        "id": "7636f02a87e92791",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2220,
        "wires": [
            [
                "ab5d4e2da6e0aa5c"
            ]
        ]
    },
    {
        "id": "1cd7a8d569c765f0",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "horn_latchmode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 2140,
        "wires": []
    },
    {
        "id": "b8ac413adca05e4f",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "22",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2380,
        "wires": [
            [
                "f5a759014f64382f",
                "55703ae88bc0aaf1"
            ],
            []
        ]
    },
    {
        "id": "f5a759014f64382f",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 79",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2420,
        "wires": []
    },
    {
        "id": "55703ae88bc0aaf1",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2380,
        "wires": [
            [
                "6fce501dc904ed52"
            ]
        ]
    },
    {
        "id": "ab5d4e2da6e0aa5c",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "output_pulse_ms",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 2220,
        "wires": []
    },
    {
        "id": "018a58d20afe4d5f",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "23",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2460,
        "wires": [
            [
                "424525c52037847f",
                "bd63ccb3ba4f4641"
            ],
            []
        ]
    },
    {
        "id": "424525c52037847f",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 80",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2500,
        "wires": []
    },
    {
        "id": "bd63ccb3ba4f4641",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2460,
        "wires": [
            [
                "4d57b5f293d393d8"
            ]
        ]
    },
    {
        "id": "6fce501dc904ed52",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "units_per_event (units to trigger)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 2380,
        "wires": []
    },
    {
        "id": "0cc7efdbf8d5cbe5",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "24",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2540,
        "wires": [
            [
                "94f49b735779f797",
                "74e42f057497c358"
            ],
            []
        ]
    },
    {
        "id": "94f49b735779f797",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 81",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2580,
        "wires": []
    },
    {
        "id": "74e42f057497c358",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2540,
        "wires": [
            [
                "d039def16a71ecdd"
            ]
        ]
    },
    {
        "id": "4d57b5f293d393d8",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "output_pulses_per_trigger",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 2460,
        "wires": []
    },
    {
        "id": "9488062daf8a251a",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "25",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2620,
        "wires": [
            [
                "92077789964361e0",
                "c5efe26541726f91"
            ],
            []
        ]
    },
    {
        "id": "92077789964361e0",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 82",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2660,
        "wires": []
    },
    {
        "id": "c5efe26541726f91",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2620,
        "wires": [
            [
                "ba900a4b5b6dedbd"
            ]
        ]
    },
    {
        "id": "d039def16a71ecdd",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "output_pulses_for_prime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 2540,
        "wires": []
    },
    {
        "id": "58376d814b6aee69",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "26",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2700,
        "wires": [
            [
                "cf02023f808c2c40",
                "93097ba5343b7f18"
            ],
            []
        ]
    },
    {
        "id": "cf02023f808c2c40",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 83",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2740,
        "wires": []
    },
    {
        "id": "93097ba5343b7f18",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2700,
        "wires": [
            [
                "5e66e326a95c34c2"
            ]
        ]
    },
    {
        "id": "ba900a4b5b6dedbd",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "min_flow",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 2620,
        "wires": []
    },
    {
        "id": "ef6b6b98f710c9fe",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "27",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2780,
        "wires": [
            [
                "b431ae43dc5f74a4",
                "0b1db0e50718dc37"
            ],
            []
        ]
    },
    {
        "id": "b431ae43dc5f74a4",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 84",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2820,
        "wires": []
    },
    {
        "id": "0b1db0e50718dc37",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2780,
        "wires": [
            [
                "6d0138d27ac6f89a"
            ]
        ]
    },
    {
        "id": "5e66e326a95c34c2",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "analog_threshold",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 2700,
        "wires": []
    },
    {
        "id": "fbd98f1204c14861",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "28",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2860,
        "wires": [
            [
                "ad0cdc9bc4c12623",
                "a4d264de7c5b8e87"
            ],
            []
        ]
    },
    {
        "id": "ad0cdc9bc4c12623",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 85",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2900,
        "wires": []
    },
    {
        "id": "a4d264de7c5b8e87",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2860,
        "wires": [
            [
                "ce65bac11de27968"
            ]
        ]
    },
    {
        "id": "6d0138d27ac6f89a",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "analog_map_min",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 2780,
        "wires": []
    },
    {
        "id": "76227e4f21df72bd",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "13",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1660,
        "wires": [
            [
                "776c0bd8807161bb",
                "d1dab5afbb7dcf72"
            ],
            []
        ]
    },
    {
        "id": "776c0bd8807161bb",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 86",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1700,
        "wires": []
    },
    {
        "id": "d1dab5afbb7dcf72",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1660,
        "wires": [
            [
                "64dc9739cf4234ba"
            ]
        ]
    },
    {
        "id": "ce65bac11de27968",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "analog_map_max",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 2860,
        "wires": []
    },
    {
        "id": "c994e9bebec3e5e5",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "9",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3e8dee3f24ba354d",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 1340,
        "wires": [
            [
                "c994e9bebec3e5e5"
            ]
        ]
    },
    {
        "id": "f11ca4cc4dbcefee",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "rate": "4",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 880,
        "wires": [
            [
                "f6f4765646f0d596",
                "0c6735d947000eb8"
            ],
            []
        ]
    },
    {
        "id": "f6f4765646f0d596",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 88",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 920,
        "wires": []
    },
    {
        "id": "0c6735d947000eb8",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 880,
        "wires": [
            [
                "f82200c09a16838e"
            ]
        ]
    },
    {
        "id": "f82200c09a16838e",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Units since boot",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 880,
        "wires": []
    },
    {
        "id": "adcd456d51e7302c",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "2a8e42731b66768d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flow time since boot",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 960,
        "wires": []
    },
    {
        "id": "0f0c2269d44745b5",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "1",
        "rate": "4",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 960,
        "wires": [
            [
                "790940adb385fa5d",
                "a57edf5bc3c56946"
            ],
            []
        ]
    },
    {
        "id": "790940adb385fa5d",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 89",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a57edf5bc3c56946",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 960,
        "wires": [
            [
                "adcd456d51e7302c"
            ]
        ]
    },
    {
        "id": "a1b8e4458e4c6a83",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "56989e2978b14bfe",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 1420,
        "wires": [
            [
                "a1b8e4458e4c6a83"
            ]
        ]
    },
    {
        "id": "d83317357178d86c",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "11",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d9eeba0b8de529c2",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 1500,
        "wires": [
            [
                "d83317357178d86c"
            ]
        ]
    },
    {
        "id": "1afab922f67e5e33",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "12",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3041c281a6f1ac61",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 1580,
        "wires": [
            [
                "1afab922f67e5e33"
            ]
        ]
    },
    {
        "id": "76a8e7f2d8931f09",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "13",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1660,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "139f972c125a7911",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 1660,
        "wires": [
            [
                "76a8e7f2d8931f09"
            ]
        ]
    },
    {
        "id": "6a79ee8df7e01a40",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "14",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4adaa16523171823",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 1740,
        "wires": [
            [
                "6a79ee8df7e01a40"
            ]
        ]
    },
    {
        "id": "b267e7c8a9a8b054",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1820,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2419662d14207a70",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 1820,
        "wires": [
            [
                "b267e7c8a9a8b054"
            ]
        ]
    },
    {
        "id": "2a0f935e0879f17c",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "16",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1900,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8b5f6f8528f43acc",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 1900,
        "wires": [
            [
                "2a0f935e0879f17c"
            ]
        ]
    },
    {
        "id": "3c2a56f1d4548b31",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "17",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1980,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e77f8ad25ec0cb47",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 1980,
        "wires": [
            [
                "3c2a56f1d4548b31"
            ]
        ]
    },
    {
        "id": "b6e91b4dbd3351e8",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "359793d50ad70ecc",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 2060,
        "wires": [
            [
                "b6e91b4dbd3351e8"
            ]
        ]
    },
    {
        "id": "f107dcccbd9a35df",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "19",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7b25a924085c46a3",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 2140,
        "wires": [
            [
                "f107dcccbd9a35df"
            ]
        ]
    },
    {
        "id": "8d3b81a1a459c6e4",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f5fe90ed31e8596d",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 2220,
        "wires": [
            [
                "8d3b81a1a459c6e4"
            ]
        ]
    },
    {
        "id": "9568e50d0f151553",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "22",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8f44e9344f7d2cfb",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 770,
        "y": 2380,
        "wires": [
            [
                "9568e50d0f151553"
            ]
        ]
    },
    {
        "id": "abf8f9f2ee2a5128",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "23",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6c1d08553787e04d",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 2460,
        "wires": [
            [
                "abf8f9f2ee2a5128"
            ]
        ]
    },
    {
        "id": "08d947c8257f931c",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "24",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1802c4c18ef3274e",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 2540,
        "wires": [
            [
                "08d947c8257f931c"
            ]
        ]
    },
    {
        "id": "e36283ec103b70f6",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "25",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f2148e0fb1269b18",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 2620,
        "wires": [
            [
                "e36283ec103b70f6"
            ]
        ]
    },
    {
        "id": "bce3a810aa684484",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "26",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "95ac35b36e9c3281",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "analog_threshold",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 770,
        "y": 2700,
        "wires": [
            [
                "bce3a810aa684484"
            ]
        ]
    },
    {
        "id": "b76baaa13e06761e",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "27",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ecef00e12059d672",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "analog_map_min",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 770,
        "y": 2780,
        "wires": [
            [
                "b76baaa13e06761e"
            ]
        ]
    },
    {
        "id": "4f6230c4e0e3b511",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "28",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2860,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b5161b2b057bf1a3",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "analog_map_max",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 770,
        "y": 2860,
        "wires": [
            [
                "4f6230c4e0e3b511"
            ]
        ]
    },
    {
        "id": "0352c845f0fcb861",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "21",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2300,
        "wires": [
            [
                "2ee0e8d26baea640",
                "ed9d572a24b64ae4"
            ],
            []
        ]
    },
    {
        "id": "2ee0e8d26baea640",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 90",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2340,
        "wires": []
    },
    {
        "id": "ed9d572a24b64ae4",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2300,
        "wires": [
            [
                "53d9bef7eea7e101"
            ]
        ]
    },
    {
        "id": "53d9bef7eea7e101",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "output_pulse_off_ms",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 2300,
        "wires": []
    },
    {
        "id": "1878c15d9c917adc",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "21",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "13c7463232f7f53a",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Input value",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 750,
        "y": 2300,
        "wires": [
            [
                "1878c15d9c917adc"
            ]
        ]
    },
    {
        "id": "bef9ad1f6435d2ef",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1080,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7e62555a3b961ea9",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a0c03a3137b03a11",
        "type": "ui_switch",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "",
        "label": "Relay",
        "tooltip": "",
        "group": "4cfbcb300419c342",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 850,
        "y": 300,
        "wires": [
            [
                "7e62555a3b961ea9"
            ]
        ]
    },
    {
        "id": "c33f39568b672d56",
        "type": "ui_switch",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "",
        "label": "Horn",
        "tooltip": "",
        "group": "4cfbcb300419c342",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 850,
        "y": 240,
        "wires": [
            [
                "bef9ad1f6435d2ef"
            ]
        ]
    },
    {
        "id": "8cc19e57d874456b",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 140,
        "wires": [
            [
                "6188a5d24643d602"
            ]
        ]
    },
    {
        "id": "fd3d517455dcb0b4",
        "type": "ui_led",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "order": 3,
        "group": "4cfbcb300419c342",
        "width": 0,
        "height": 0,
        "label": "HORN",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#5e5e5e",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#72fa78",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1110,
        "y": 80,
        "wires": []
    },
    {
        "id": "6188a5d24643d602",
        "type": "ui_led",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "order": 4,
        "group": "4cfbcb300419c342",
        "width": 0,
        "height": 0,
        "label": "RELAY",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#5e5e5e",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00f900",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1110,
        "y": 140,
        "wires": []
    },
    {
        "id": "c9e29654b065ec54",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "99",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "99",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1110,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3f404200fa36ab0a",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "",
        "label": "RESET TYPE (0-5)",
        "tooltip": "",
        "group": "4cfbcb300419c342",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 890,
        "y": 400,
        "wires": [
            [
                "c9e29654b065ec54"
            ]
        ]
    },
    {
        "id": "fd1f465be2131ee7",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "0",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1110,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8a3e088bc1128fad",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "",
        "label": "Pulses to add",
        "tooltip": "",
        "group": "4cfbcb300419c342",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 880,
        "y": 460,
        "wires": [
            [
                "fd1f465be2131ee7"
            ]
        ]
    },
    {
        "id": "97aab1fc9d46a97f",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "0",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1110,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2f517d33731de9fe",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "",
        "label": "units since boot",
        "tooltip": "",
        "group": "4cfbcb300419c342",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 880,
        "y": 520,
        "wires": [
            [
                "97aab1fc9d46a97f"
            ]
        ]
    },
    {
        "id": "417b8893d4c05781",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "0",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1110,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7370c15e110ca3d6",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "",
        "label": "flowtime since boot",
        "tooltip": "",
        "group": "4cfbcb300419c342",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 890,
        "y": 580,
        "wires": [
            [
                "417b8893d4c05781"
            ]
        ]
    },
    {
        "id": "680c31a984c2b1f4",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 80,
        "wires": [
            [
                "fd3d517455dcb0b4"
            ]
        ]
    },
    {
        "id": "a35ca4ee81379545",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "29",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 2940,
        "wires": [
            [
                "bcf6c0b155a713bb",
                "975ca3110d8af245"
            ],
            []
        ]
    },
    {
        "id": "bcf6c0b155a713bb",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 91",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 2980,
        "wires": []
    },
    {
        "id": "975ca3110d8af245",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2940,
        "wires": [
            [
                "a901f8ff450deb3e"
            ]
        ]
    },
    {
        "id": "a901f8ff450deb3e",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "analog_range_min",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 2940,
        "wires": []
    },
    {
        "id": "e73914cd5abc2281",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "29",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2940,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4f10e48b39b531ed",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "analog_range_min",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 770,
        "y": 2940,
        "wires": [
            [
                "e73914cd5abc2281"
            ]
        ]
    },
    {
        "id": "2707ea6d26cf354a",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "30",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 3020,
        "wires": [
            [
                "59e19c9ef8c29bb0",
                "541c409beee08a5f"
            ],
            []
        ]
    },
    {
        "id": "59e19c9ef8c29bb0",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 92",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 3060,
        "wires": []
    },
    {
        "id": "541c409beee08a5f",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 3020,
        "wires": [
            [
                "62f938dde1d0eaf9"
            ]
        ]
    },
    {
        "id": "62f938dde1d0eaf9",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "analog_range_max",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 3020,
        "wires": []
    },
    {
        "id": "54e5fbb270465f74",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "30",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 3020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "569daf2b148d4efd",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "analog_range_max",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 770,
        "y": 3020,
        "wires": [
            [
                "54e5fbb270465f74"
            ]
        ]
    },
    {
        "id": "08e3b0d04ae6826a",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "31",
        "quantity": "1",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 3100,
        "wires": [
            [
                "81c8633193a5b18a",
                "742637c03013e739"
            ],
            []
        ]
    },
    {
        "id": "81c8633193a5b18a",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "debug 93",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 3140,
        "wires": []
    },
    {
        "id": "742637c03013e739",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 3100,
        "wires": [
            [
                "2703a5f96214aad8"
            ]
        ]
    },
    {
        "id": "2703a5f96214aad8",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "group": "f86b46f4fcb284da",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seconds for flowrate",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 3100,
        "wires": []
    },
    {
        "id": "e47b5dd764a407c6",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "31",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 3100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "81f3f4836b90992b",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "3cc4c6e59d10ef32",
        "name": "",
        "label": "Seconds for flowrate",
        "tooltip": "",
        "group": "46b9f7901c65c98a",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 780,
        "y": 3100,
        "wires": [
            [
                "e47b5dd764a407c6"
            ]
        ]
    },
    {
        "id": "be4ec9c2f724d01f",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "SAVE-R",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "0",
        "quantity": "1",
        "rate": "100",
        "rateUnit": "h",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 870,
        "y": 860,
        "wires": [
            [
                "faf5bbd0e036901d"
            ],
            []
        ]
    },
    {
        "id": "d4a2ce3018e542d9",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "SAVE-Write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "10",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1110,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "28a0d0750cf04d3c",
        "type": "ui_button",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "",
        "group": "4cfbcb300419c342",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save settings and data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 900,
        "y": 640,
        "wires": [
            [
                "d4a2ce3018e542d9"
            ]
        ]
    },
    {
        "id": "faf5bbd0e036901d",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "debug 94",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 860,
        "wires": []
    },
    {
        "id": "db16406771bf7d42",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "32",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1120,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f88a08c0e5a2e72a",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "",
        "label": "add units to total (10x)",
        "tooltip": "",
        "group": "4cfbcb300419c342",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 900,
        "y": 700,
        "wires": [
            [
                "db16406771bf7d42"
            ]
        ]
    },
    {
        "id": "b95b261712835a78",
        "type": "modbus-write",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "modbus_write",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "1",
        "server": "68fccdafd397e6d5",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1120,
        "y": 760,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "329fd41ed39becd9",
        "type": "ui_text_input",
        "z": "86c27da5ce179059",
        "g": "8aef661213df8ca4",
        "name": "",
        "label": "Show display (seconds)",
        "tooltip": "",
        "group": "4cfbcb300419c342",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 910,
        "y": 760,
        "wires": [
            [
                "b95b261712835a78"
            ]
        ]
    },
    {
        "id": "a631ddb39cb11602",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "11",
        "quantity": "1",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "765154393c1062d8",
                "cfe513db27858691"
            ],
            []
        ]
    },
    {
        "id": "765154393c1062d8",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 153",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1080,
        "wires": []
    },
    {
        "id": "cfe513db27858691",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1040,
        "wires": [
            [
                "4409d4f81b807378"
            ]
        ]
    },
    {
        "id": "4409d4f81b807378",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "4cfbcb300419c342",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI_RSSI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 1040,
        "wires": []
    },
    {
        "id": "58e8eddb212b3bf4",
        "type": "ui_text",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "group": "4cfbcb300419c342",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UPTIME (hrs)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 1120,
        "wires": []
    },
    {
        "id": "31c1d4816cb99fd7",
        "type": "modbus-read",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Modbus",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "12",
        "quantity": "1",
        "rate": "4",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "68fccdafd397e6d5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "da2a426fe7b81636",
                "e0b1f00cecba114d"
            ],
            []
        ]
    },
    {
        "id": "da2a426fe7b81636",
        "type": "debug",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "debug 154",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e0b1f00cecba114d",
        "type": "function",
        "z": "86c27da5ce179059",
        "g": "5b3f1e3ce3dbfd34",
        "name": "Interface",
        "func": "msg.topic = \"State\"\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1120,
        "wires": [
            [
                "58e8eddb212b3bf4"
            ]
        ]
    }
]